@import '../../base';

.primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
    border-radius: 0;

    &:hover, &:active, &:focus {
        background-color: rgba($color-primary, 0.8) !important;
        border-color:rgba($color-primary, 0.8) !important;
        color: white !important;
    }

    // TODO disabled style
}

.secondary {
    background-color: white;
    border-color: $color-primary;
    color: $color-primary;
    border-radius: 0;

    &:hover, &:active, &:focus {
        background-color: $color-border !important;
        border-color: $color-primary !important;
        color: $color-primary !important;
    }

    // TODO disabled style
}
