@import '../../base';

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    @include font-standard;
}

.empty-state {
    padding: 20px;
    text-align: center;
    @include font-standard;
}
