@import '../../base';

.product-card {
    display: flex;
    width: 190px;
    height: 285px;
    cursor: pointer;
    border-color: $color-border;
    border-radius: 0px;

    .image {
        max-width: 170px;
        max-height: 217px;
        object-fit: contain;
        margin: auto;
        margin-top: 10px;
    }

    .custom-card-body {
        display: flex;
        flex-direction: column;
        height: 100px;
        padding: 10px;

        .title {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .subtitle {
            font-size: 13px;
            color: #C94B4C;
        }

        .description {
            height: 40px;
            font-size: 13px;
            flex: 1;
        }
    }
}

