@import '../../base';

.base-structure-page {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;

    .custom-row {
        width: 100%;
    }

    .left-wrapper, .right-wrapper {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .left-wrapper {
        display: flex;
        justify-content: center;
    }
}
