@import '../../base';

.side-menu {
    width: 270px;

    .list-item {
        display: flex;
        align-items: center;
        border-radius: 0px;
        font-size: 15px;
        border: 1px solid $color-border;
        border-bottom: 0;

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

        &.active {
            background-color: $color-border !important;
            border-color: $color-border !important;
            color: $color-primary !important;
        }
    }

    .list-item:first-of-type {
        border-top: 0;
    }

    .list-item:last-of-type {
        border-bottom: 1px solid $color-border;
    }
}
