@import '../base';

.custom-content {
    height: 100%;
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    @include font-standard;

    .page-title {
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }

    .empty-state {
        text-align: center;
    }

    .products-table {
        width: 100%;

        tr {
            border-bottom: 1px solid #ebebeb;
        }

        td, th {
            padding: 20px
        }

        th {
            text-align: end;
            width: 120px;
        }
        
        .th-product, .td-product {
            text-align: start;
            width: 640px;
        }

        .aligned-end {
            text-align: end;
        }

        .product-info {
            display: flex;
        
            .product-picture {
                max-width: 100px;
            }

            .product-title {
                display: flex;
                flex-direction: column;
                margin-left: 8px;
            }
        }

        .quantity-input {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .summary-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 1000px;
        height: 160px;
        padding: 20px;

        .subtotal-wrapper {
            display: flex;

            .value {
                margin-left: 40px;
                font-weight: bold;
            }
        }

        .shipping-info {
            margin-top: 8px;
            font-size: 13px;
        }

        .checkout-wrapper {
            margin-top: 16px;
        }
    }
}
