@import '../base';

.index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    @include font-standard;

    .products-container {
        display: flex;
        justify-content: center;
        width: $container-size;
        height: 100%;

        .section-title {
            margin-left: 20px;
            margin-top: 16px;
        }

        .products {
            height: 100%;
            width: 100%;
        }
    }
}
