@import '../base';

.index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    @include font-standard;

    .products-container {
        display: flex;
        width: $container-size;
        height: 100%;

        .sidebar {
            width: 270px;
            height: 100%;
        }

        .products {
            flex: 1;
            height: 100%;
            border-left: 1px solid $color-border;
        }
    }
}

.custom-content {
    min-height: 100%;
}
