@import '../base';

.custom-content {
    height: 100%;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin-top: -40px;
    font-size: 13px;
    border: 1px solid gray;

    .login-box {
        padding: 20px;
        width: 350px;

        .logo-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;

            .logo {
                width: 100px;
                height: 100px;
            }
        }

        input {
            font-size: 14px;
        }

        .submit-button {
            width: 100%;
        }

        .password-forgot-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 8px;
        }

        .register-wrapper {
            width: 100%;
            margin-top: 8px;
            text-align: center;
        }
    }
}
