@import '../base';

.custom-content {
    align-items: center;
}

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin-top: -40px;
    font-size: 13px;
    border: 1px solid $color-border;

    .password-reset-box {
        padding: 20px;
        width: 350px;

        .submit-button {
            width: 100%;
        }
    }

    .invalid-info {
        padding: 20px;
    }    
}