// @import '../base';

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin-top: -40px;
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 4px;

    .login-box {
        padding: 20px;
        width: 350px;

        .spinner-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px 0;
        }

        .logo-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;

            .logo {
                width: 100px;
                height: 100px;
            }
        }

        input {
            font-size: 14px;
        }

        .submit-button {
            width: 100%;
        }

        .rememberme-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 8px;

            .rememberme-group {
                margin-bottom: 5px;
            }
        }

        .register-wrapper {
            width: 100%;
            margin-top: 8px;
            text-align: center;
        }
    }
}
