@import '../../../base';

.custom-layout-content {
    min-height: 100%;
}

.addresses-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include font-standard;

    .empty-state {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .current-addresses-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;

        .address-card {
            width: 250px;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 0px;
            
            &.main-address {
                border: 2px solid #3a3a3a;
            }

            .card-title {
                font-size: 15px;
            }

            .card-body {
                font-size: 14px;
                height: 110px;
            }

            .card-actions {
                display: flex;
                justify-content: space-between;
                font-size: 13px;

                .main-address {
                    font-weight: bold;
                }
            }
        }
    }
}