@import '../../../base';

.addresses-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include font-standard;

    .empty-state {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .current-addresses-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
    }

    .card-actions {
        display: flex;
        justify-content: space-between;
        font-size: 13px;

        .main-address {
            font-weight: bold;
            color: $color-green;
        }

        .selected {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 600px) {
    .addresses-container {
        .current-addresses-wrapper {
            .custom-address-card {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}