@import '../../base';

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    @include font-standard;
}

@media only screen and (max-width: 600px) {
    .form-wrapper {
        width: 100%;

        .title {
            text-align: center;
        }
    }
}