@import '../../base';

.reviews-container {
    padding: 20px;
    @include font-standard;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button:last-child {
        margin-left: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .reviews-container {
        text-align: center;
    }
}
