@import '../../base';

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    @include font-standard;

    .product {
        display: flex;
        width: $container-size;

        .product-view {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            padding: 10px; 
            width: 850px;
            border-right: 1px solid $color-border;

            .image {
                max-width: 800px;
            }
        }
    
        .product-info {
            display: flex;
            width: 350px;
            box-sizing: border-box;
            flex-direction: column;
            padding: 20px;

            .title {
                font-size: 24px;
            }

            .price {
                margin-top: 16px;
                font-size: 18px;
            }

            .description {
                margin-top: 16px;
                font-size: 14px;
            }

            .tags-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 16px;

                .tag {
                    margin-right: 8px;
                    background-color: $color-primary;
                }
            }

            .quantity-input {
                width: 80px;
                margin-top: 20px;
            }

            .add-product-button {
                margin-top: 10px;
            }
        }
    }
}

.added-to-cart-toast {
    width: 320px;
    position: absolute;
    top: 0;
    right: 0; 
    opacity: 1;

    .toast-header {
        padding: 16px;
        border-bottom: 1px solid $color-border;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-primary;
    }

    .toast-body {
        background-color: white;
        padding: 16px;

        .last-added-product {
            display: flex;
            align-items: center;
    
            .product-picture {
                max-width: 50px; 
            }
    
            .product-title {
                flex: 1;
            }
    
            .quantity {
                text-align: end;
                margin-left: 10px;
            }
        }
    }

    .view-cart-button {
        margin-top: 16px;
        width: 100%;
    }
}