@import '../../base';

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    @include font-standard;

    .product {
        display: flex;

        .product-view {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            padding: 10px; 
            border-right: 1px solid $color-border;

            .image {
                max-width: 800px;
            }
        }
    
        .product-info {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            padding: 20px;

            .title {
                font-size: 24px;
            }

            .rating {
                font-size: 14px;
                font-style: italic;
                color: $color-primary-lighter;
            }

            .price {
                margin-top: 16px;
                font-size: 22px;
            }

            .description {
                margin-top: 16px;
                font-size: 14px;
            }

            .tags-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 16px;

                .tag {
                    margin-right: 8px;
                    background-color: $color-primary;
                }
            }

            .quantity-input {
                width: 80px;
                margin-top: 20px;
            }

            .add-product-button {
                margin-top: 10px;
            }
        }
    }

    .reviews-container {
        padding-top: 16px;
        border-top: 1px solid $color-border;
        font-size: 14px;

        .reviews-box {
            display: flex;
            flex-direction: column;

            .top-bar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;
            }
        }
    }
}

.description-textarea {
    height: 150px !important;
}

.added-to-cart-toast {
    width: 320px;
    position: absolute;
    top: 0;
    right: 0; 
    opacity: 1;

    .toast-header {
        padding: 16px;
        border-bottom: 1px solid $color-border;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-primary;
    }

    .toast-body {
        background-color: white;
        padding: 16px;

        .last-added-product {
            display: flex;
            align-items: center;
    
            .product-picture {
                max-width: 50px; 
            }
    
            .product-title {
                flex: 1;
                margin-left: 8px;
            }
    
            .quantity {
                text-align: end;
                margin-left: 10px;
            }
        }
    }

    .view-cart-button {
        margin-top: 16px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .product {
        display: flex;

        .product-view {
            .image {
                width: 300px;
            }
        }

        .product-info {
            .quantity-input {
                width: 100% !important;
            }
        }
    }
}
