$container-size: 1200px;

$color-primary: #3a3a3a;
$color-border: #ebebeb;
$color-primary-lighter: #747474;
$color-green: #469200;

.link {
    font-family: "Trebuchet MS";
    color: $color-primary;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: $color-primary-lighter;
}

.text-input {
    border-radius: 0px;
    border-color: $color-primary;
}

.text-input::placeholder {
    opacity: 0.5;
}

.dropdown-input {
    border-radius: 0px;
    border-color: $color-primary;
    cursor: pointer;
}

@mixin font-standard {
    font-family: "Trebuchet MS";
    color: $color-primary;
}

#__next {
    overflow-x: hidden;
}

.modal-content {
    border-radius: 0px !important;
}

.custom-hr {
    border-top: 1px solid $color-border !important;
}